numpy==1.19.4
sklearn==0.0
scikit-learn==0.24.2
torchvision==0.17.1
scipy==1.5.4
matplotlib==3.3.4
pandas==1.1.5
tqdm==4.62.2
nltk==3.6.7
seaborn==1.16.0
openpyxl==3.1.2
cachey==0.2.1
pickle-mixin==1.0.2
wandb==0.15.11
ray==2.4.0
bertviz==1.4.0
ipython==7.16.3
omegaconf==2.3.0
hydra==2.5
hydra-core==1.3.2
polars==0.12.5
sparklines==0.4.2
humanize==3.14.0

